.MuiBox-root {
  border-radius: 24px;
  background-color: rgb(0,200,5);
}

// .MuiButton-root {
//   padding: 2rem;
// }

// .css-hip9hq-MuiPaper-root-MuiAppBar-root {
//   box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
// }

.center-div {
  max-width: 100%;
  min-width: 768px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 1rem 6rem;

}

.landing-title {
  font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1.75px;
  line-height: 60px;
  text-decoration: unset;
  text-align: center;
}

.css-uwdvlb {
  color:white;
  background-color: white;
}